.filterWrapper label {
  display: flex;
  flex-direction: column;
  padding: 10px 0 5px 0;
}

.filterWrapper input {
  width: 200px;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  font-size: 15px;
}