.formWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  
  form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #e8f6f3;
}

label {
  padding: 10px 0 5px 0;
}

input {
  width: 200px;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  font-size: 15px;
}

button {
  background-color: #3498db;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
}

button:hover {
  transform: translate(0, 1px);
}

button:active {
  transform: translate(0, 4px);
}
