.mainWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-size: 20;
  color: #010101;
  background-color: #f8f9f9;
}

h1,
h2 {
  padding: 7px;
}

.contentWrepper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  min-height: 200px;
  min-width: 300px;
  padding: 10px;

  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #e8f6f3;
}
